<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="img/weather.png"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by {{name}} to collect weather report.</p>
        <p>Data collected from geocode.com and darksky.net</p>
        <p>Any query please mail to {{email}}</p>
        <img src="img/profile-no.png"/>
    </div>
   
    {{>footer}}
</body>
</html>